<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="wkrjsystemdev.userdev.dao.WkrjUserDevDao">
	
	<!--20150703 add  -->
	<!-- 首先映射简单类型 排除角色-->
	<resultMap type="WkrjUserDev" id="simpleWkrjUser">
		
		<id column="user_id" property="user_id"/>
		<result column="station_id" property="station_id"/>
		<result column="dept_id" property="dept_id"/>
		<result column="user_name" property="user_name"/>
		<result column="user_password" property="user_password"/>
		<result column="user_realname" property="user_realname"/>
		<result column="user_card" property="user_card"/>
		<result column="user_is_enable" property="user_is_enable"/>
		<result column="user_inputtime" property="user_inputtime" />
		<result column="user_last_ip" property="user_last_ip" />
		<result column="user_no" property="user_no" />
		<result column="user_last_time" property="user_last_time" />
		<result column="user_tel" property="user_tel" />
		<result column="user_accounttype" property="user_accounttype" />
		
	</resultMap>
	
	<resultMap type="WkrjUserDev" id="wkrjUserAndRole" extends="simpleWkrjUser">
		
		<collection property="user_role" ofType="WkrjRoleDev">
		
			<id column="role_id" property="role_id"/>
			<result column="role_name" property="role_name"/>
			<result column="role_type" property="role_type"/>
			<result column="role_dept" property="role_dept"/>
			<result column="role_other" property="role_other"/>
			
		</collection>
		
		
	</resultMap>
	
	
	<!--20150703 add  -->
	
	<select id="getUserList" resultMap="wkrjUserAndRole" parameterType="Object">
	
		SELECT user_accounttype,user.user_id,userrole.role_id,role.role_name,station_id,dept_id,user_name,user_password,user_realname,user_card,user_is_enable,
			   DATE_FORMAT(user_inputtime,'%Y-%m-%d %H:%i:%s') user_inputtime,user_last_ip,user_no,
			   DATE_FORMAT(user_last_time,'%Y-%m-%d %H:%i:%s') user_last_time,user_tel
		FROM   wkrj_sys_user_dev user left join wkrj_sys_user_role_dev userrole on user.user_id=userrole.user_id
			   left join wkrj_sys_role_dev role on userrole.role_id=role.role_id
			   
		where user_accounttype =0
		
		<if test="null!=deptId and ''!=deptId">
			and dept_id=#{deptId}
		</if>
		
		<if test="null!=userName and ''!=userName">
			and user_realname like concat("%",#{userName},"%")
		</if>
		
		limit #{offset},#{page}	
	
	</select>
	
	<resultMap type="WkrjUserDev" id="newWkrjUser">
		
		<id column="user_id" property="user_id"/>
		<result column="station_id" property="station_id"/>
		<result column="dept_id" property="dept_id"/>
		<result column="user_name" property="user_name"/>
		<result column="user_password" property="user_password"/>
		<result column="user_realname" property="user_realname"/>
		<result column="user_card" property="user_card"/>
		<result column="user_is_enable" property="user_is_enable"/>
		<result column="user_inputtime" property="user_inputtime" />
		<result column="user_last_ip" property="user_last_ip" />
		<result column="user_no" property="user_no" />
		<result column="user_last_time" property="user_last_time" />
		<result column="user_tel" property="user_tel" />
		<result column="user_accounttype" property="user_accounttype" />
		
		<collection property="user_role" ofType="WkrjUserRoleDev">
			<id column="user_id" property="user_id"/>
			<id column="role_id" property="role_id"/>
		</collection>
		
	</resultMap>
	
	<select id="getUserListCount" resultType="Long" parameterType="Object">
		
		SELECT count(user_id) 
		FROM `wkrj_sys_user_dev` 
		where user_accounttype =0 
		<if test="null!=deptId and ''!=deptId">
			and dept_id=#{deptId}
		</if>
		<if test="null!=userName and ''!=userName">
			and user_realname like concat("%",#{userName},"%")
		</if>
		
	</select>
	
	<select id="findUserInfoByNameandPw" resultType="WkrjUserDev" parameterType="Object">
		
		SELECT * 
		FROM `wkrj_sys_user_dev` 
		where user_name=#{userName} and user_password = #{pw} 
		
	</select>
	
	<select id="findUserInfoByName" resultType="WkrjUserDev" parameterType="Object">
		
		SELECT * 
		FROM `wkrj_sys_user_dev` 
		where user_name=#{userName}
		
	</select>
	
	<insert id="addUser" parameterType="WkrjUserDev" >
		
		insert wkrj_sys_user_dev(user_id,station_id,dept_id,user_name,user_password,user_realname,
			   user_card,user_is_enable,user_inputtime,user_last_ip,user_no,user_last_time,user_tel)
		values(#{user_id},#{station_id},#{dept_id},#{user_name},#{user_password},#{user_realname},
			   #{user_card},#{user_is_enable},#{user_inputtime},#{user_last_ip},#{user_no},#{user_last_time}
			   ,#{user_tel});
	
	</insert>
	
	<insert id="addUserRole" parameterType="WkrjUserRoleDev">
		 insert into wkrj_sys_user_role_dev (user_id,role_id)   
    	 values(#{user_id},#{role_id})  
	</insert>
	
	<update id="updateUser" parameterType="WkrjUserDev">
		
		update wkrj_sys_user_dev set station_id=#{station_id},dept_id=#{dept_id},user_name=#{user_name},
			   user_realname=#{user_realname},user_card=#{user_card},
			   user_is_enable=#{user_is_enable}, user_no=#{user_no},user_tel=#{user_tel}
			   
		where user_id=#{user_id}
		
	</update>
	
	<update id="repeatPw" parameterType="String">
		
		update wkrj_sys_user_dev set user_password=#{user_password}
		where user_id=#{user_id}
		
	</update>
	
	<update id="forbiddenUser" parameterType="String">
		
		update wkrj_sys_user_dev set user_is_enable=#{user_is_enable}
		where user_id=#{user_id}
		
	</update>
	
	<delete id="delUser">
		delete from wkrj_sys_user_dev where user_id=#{id}
	</delete>
	
	<delete id="delUerRoleById">
		delete from wkrj_sys_user_role_dev where user_id=#{id}
	</delete>
	
	<select id="checkIsHaveNameOrGhOrSfz" resultType="Long" parameterType="Object">
		
		SELECT count(user_id) 
		FROM `wkrj_sys_user_dev` 
		where true
		<if test="null!=name and ''!=name">
			and user_name=#{name}
		</if>
		<if test="null!=gh and ''!=gh">
			and user_no=#{gh}
		</if>
		<if test="null!=sfz and ''!=sfz">
			and user_card=#{sfz}
		</if>
		<if test="null!=userId and ''!=userId">
			and user_id!=#{userId}
		</if>
		
	</select>
	
	<select id="getRoleTree" resultType="WkrjRoleDev" parameterType="String">
        
        SELECT role_id,role_name,role_type,role_dept,role_other 
        FROM `wkrj_sys_role_dev` 
    
    </select>
    
    <select id="getStationTree" resultType="WkrjStation" parameterType="String">
        
        SELECT station_id,station_name
        FROM `wkrj_sys_station` 
    
    </select>
	
</mapper>

